<form [ngFormModel]="form" (ngSubmit)="changePassword()">
  <!--<div class="form-group">-->
    <!--<label for="username">Current Password</label>-->
    <!--<input id="username" type="text" class="form-control" ngControl="username" #username="ngForm">-->
    <!--<div *ngIf="username.control.pending">Verifying Username...</div>-->
    <!--<div *ngIf="username.touched && username.errors">-->
      <!--<div class="alert alert-danger" *ngIf="username.errors.required">Username is required</div>-->
      <!--<div class="alert alert-danger" *ngIf="username.errors.cannotContainSpace">Username cannot contain space</div>-->
      <!--<div class="alert alert-danger" *ngIf="username.errors.shouldBeUnique">Username should be unique</div>-->
      <!--<div class="alert alert-danger" *ngIf="username.errors.invalidLogin">Username or Password is invalid</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="form-group">
    <label for="currentPassword">Current Password</label>
    <input id="currentPassword" type="password" class="form-control"
           ngControl="currentPassword" #currentPassword="ngForm" required>
      <div *ngIf="currentPassword.touched && currentPassword.errors">
        <div class="alert alert-danger" *ngIf="currentPassword.errors.required">Current Password is required</div>
        <div class="alert alert-danger" *ngIf="currentPassword.errors.invalidPassword">Password is invalid</div>
      </div>
  </div>

  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input id="newPassword" type="password" class="form-control"
           ngControl="newPassword" #newPassword="ngForm" minlength="6" required>
    <div *ngIf="newPassword.touched && newPassword.errors">
      <div class="alert alert-danger" *ngIf="newPassword.errors.required">New Password is required</div>
      <div class="alert alert-danger" *ngIf="newPassword.errors.minlength">New Password should be at least
        {{newPassword.errors.minlength.requiredLength}} characters long.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" class="form-control"
           ngControl="confirmPassword" #confirmPassword="ngForm" required>
    <div *ngIf="confirmPassword.touched && confirmPassword.errors">
      <div class="alert alert-danger" *ngIf="confirmPassword.errors.required">Confirm Password</div>
      <div class="alert alert-danger" *ngIf="confirmPassword.errors.shouldBeEquals">Passwords do not match</div>
    </div>
    <div *ngIf="confirmPassword.touched && form.errors && form.errors.shouldBeEquals"
         class="alert alert-danger">Passwords don't match.
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>

</form>